[33mcommit 78ca88e5f62fe3166972c8fb82cb3285e7377714[m[33m ([m[1;36mHEAD -> [m[1;32mmaster[m[33m)[m
Author: Leonardo Gualberto <leo_gualbertus@outlook.com>
Date:   Thu Jan 20 21:56:49 2022 -0300

    Alterando README e style

[33mcommit daac1a6456c36d940c2dd70b09239f03704a683e[m
Author: Leonardo Gualberto <leo_gualbertus@outlook.com>
Date:   Thu Jan 20 21:27:09 2022 -0300

    alterando o readme

[33mcommit 0de3c6490ee2cff68d35590f24ca5f1a1bad5633[m
Author: Leonardo Gualberto <leo_gualbertus@outlook.com>
Date:   Sun Jan 16 18:18:40 2022 -0300

    Alterei o arquivo

[33mcommit 309070079a197667b926d68203051417a1a11234[m
Author: Leonardo Gualberto <leo_gualbertus@outlook.com>
Date:   Sun Jan 16 09:29:59 2022 -0300

    Primeiro Commit
